@media (max-width: 12000px){
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
    display: block;
}
body{
    background-color: #ECF87F33 ;
    max-width: 100dvw;
}

.dark {
    background-color: white;
    color: black;
}

#header {
    z-index: 3;
    background: #81B622 ;
    position: fixed;
    display: block; 
    min-width: 100dvw;
    padding: 10px;
    box-shadow: 0 0px 30px 2px  rgba(87, 86, 86, 0.5);
}
#theme i{
    color: white;
    padding: 5px;
    background-color: black;
    border-radius: 50px;
}
#theme i:hover{
    transform: scale(1.2);
}
#logo h1 a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-left: 10cqh;
    margin-right: 15%;
}
#logo h1 a:hover {
    color: #11ff0C;
    text-decoration-color: blue;
    text-decoration-style: solid;
    text-decoration-line: inherit;
    transition: all 1s ease;
}


#header .min{
    display: none;
    position:  absolute;
    right: 5%;
    padding: 5px;

    
}
#header .min a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
#navul {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#navul li{
    display: inline-block;
    padding: 0px;
    height: 100%;
    margin-right: 2%;

}
#navul li a{
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: #81B62211;
}
#navul li a:hover {
    color: #00ff0d;
    border-bottom-color: #00ff0d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    transition: all 0.5s ease;  
}


#home {
    height: 100dvh;
    background-image: url("../images/abdul2.jpg");
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100dvh;
    background-color: #7efd6444 ;
}

#contents {
    position: relative;
    z-index: 2;
    top: 40%;
    text-align: center;
}

#contents h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 70px;
}
#contents h2 {
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#contents h3 {
    font-style: italic;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 40px;
}
#contents a{
    padding: 25px;
    border-radius: 50px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #81B622;
    font-size: x-large;
    font-weight: 900;
}
#contents a:hover {
    background-color: #00ff0d;
}
#darktheme{
    position: relative;

}

#theme {
    position: relative;
}
#lighttheme{
    position: absolute;
    z-index: 1;
}

#about {
    padding-top: 20px;
    background-color: #ECF87F  ;
    clear: both;
}

#abtcontents {
    padding-left: 15%;
    float: left;
    width: 50%;
}
#abouth{
    text-align: center;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

#about img{
    border-radius: 20px;
    height: 600px;
    width: 25%;
}

.contentabt {
    display: block;
    font-size: large;
    padding-bottom: 2%;
    text-align: justify;
    padding-right: 2%;
    margin-right: 2%;
}

#abtch {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    
}

#abtcontents ul {
    padding-left: 20px;
    padding-top: 10px;
}
#abtcontents li{
    padding-left: 20px;
    padding-top: 10px;

}
#abtcontents li::marker {
    color: blue;
}
#connect{
    clear: both;
    display: flex;
    flex-direction: column;
    background-color: #81B622 ;
    height: fit-content;
    padding: 20px;
    align-self: center;
    align-items: center;
}
#connecth{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
#connect .socialconnect{
    background-color: #ECF87F ;
    border-radius: 10px 10px;
    padding: 50px;
    text-align: center;
}
#connect .ln{
    color: blue;
}
#connect .yt{
    color: red;
}
#connect .x img{
    fill: green;
    height: 20px;
    width: 20px;
}
#connect .ig{
    color: rgb(231, 9, 252);
}
#connect .go{
    color: rgb(31, 60, 223);
}
#connect a p{
    color: black;
    font-style: italic;
}
#connect ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#connect ul li{
    display: inline-block;
    padding: 10px;

}

#connect ul li:hover{
    transform: translateY(-10px);
    transition: all 0.6s ease;
}
#latest {
    background-color: #ECF87F ;;
   display: flex;
   flex-direction: column;
    max-width: 100dvw;
    padding: 20px;
}
#latest h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 3%;

}
#latest h2{
    text-align: center;
    margin-right: 2%;
    font-family: 'Courier New', Courier, monospace;
}

#latest ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    list-style: none;
    padding: 10px;
    justify-content: center;
}

#latest ul li a{
    padding: 15px;
    background-color: white;
    margin-right: 10px;
    margin: 2%;
    display: inline-block;
    
    
}

#latest .pp {
    color: orange;
}

#latest .ln {
    color: rgb(0, 133, 241);
}
#latest .yt {
    color: red;
}
#latest .pp:hover {
    color: white;
    background-color: orange;
}

#latest .ln:hover {
    color: white;
    background-color: rgb(0, 133, 241);
}
#latest .yt:hover {
    color: white;
    background-color: red;
}
#latest .button {
    padding: 2%;
    text-align: center;
    
}
#more {
    clear: both;
    text-align: center;
    color: black;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    background-color: #81B622;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
#more:hover {
    background-color: #00ff0d;
    color: white;
    
}

#updates {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#updates .updates {
   display: inline-block; 
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#quotes {
    display: grid;
    grid-template-columns: max-content;
    width: 100%;
    justify-content: center;
    padding-top: 0.5%;
    background-color:#11ff0C;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: scroll;
    scrollbar-width: none;
}

#quotes .news ul {
    animation-name: scroller;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-delay: 1s;
}
#quotes .news ul:hover {
    animation-play-state: paused;
}
#quotes .news ul li{
    display: inline-block;
    overflow-x: hidden;
    font-size: large;
    font-weight: bolder;
    padding-left: 10px;
}
#expertise {

    background-color:#81B622;
    padding-top: 2%;
    padding-bottom : 3%;
}

#expertise .first {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
   
}

#expertizecontents{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;



}
#expertizecontents .expertiz {
    background-color: #ECF87F;
    box-sizing: content-box;
    display: inline-block; 
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin: 10px;
    text-align: center;
    border-radius: 20px;

}

.expertiz i{
    font-size: xx-large;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}
.expertiz h1{
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    padding: 10px;
    text-align: center;
}
#expertise .description{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#expertizecontents .expertiz:hover{
    transform: translateY(-10px);
    border: 1px solid black;
    transition: all 1s ease;
}
#expertizecontents .expertiz:hover i{
    color: #00ff0d;
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

#hl{
  height: 50em;
  position: absolute;
  width: 5px;
  background: linear-gradient(to bottom, #3D550C, #00ff0d);
  z-index: 10;
}
#timeline {
    background-color: #ECF87F ;
}
#timelineh{
    text-align: center;
    padding: 2%;
    font-weight: bolder;
    font-size: xx-large;
    font-family: fantasy;
}

#timelineC{
    clear: both;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 10%;
}

#timeline .conty{
    width: 50%;
    position: relative;
}
.odd{
    position: absolute;
    top: 50%;
    left: 77%;
}
.even{
    position: absolute;
    top: 45%;
    left: -13%;

}
.icon{
    font-size: 20px;
    color: white;
    background-color: #81B622;
    padding: 10px;
    border-radius: 50%;
}
.icon:hover{
    background-color: rgb(0, 133, 241);
    transition: all 0.5s ease;
}

.data {
    box-shadow: 0 1px 5px 1px rgb(233, 220, 220);
    background-color: #81B622;
    border-radius: 20px/200px;
    padding: 40px;
    margin: 10px;
    width: 50%;
    position: relative;
}
.data:hover{
    background-color: #00ff0d;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
#timeline .conty:hover i{
    background-color: #00ff0d;
    transition: all 0.5s ease;
}
#timeline .conty:nth-child(even){
   align-self: baseline;
   margin-left: 10%;
   
}
#timeline .conty:nth-child(odd){
    align-self: safe;
    margin-left: 60%;
}

#timeline .data h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: larger;
}

#blogs {
    background-color: #81B622 ;
    display: flex;
    flex-direction: column;
}
#blogh{
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

#blogs .blogcont {
    padding: 10px;
    display: flex; 
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    text-align: center;
    height: fit-content;
}

#blogs .blog{
    display: inline-block;
    border-radius: 10px 10px;
    padding: 20px;
    margin: 20px;
    height: fit-content;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    background-color: #ECF87F;
    border-radius: 20px;
}

.blog:hover {
    transform: translateY(-5px);
    border: 1px solid rgb(0, 133, 241);
    transition: all 0.5s ease;
}
.blog h1{
    font-weight: bolder;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#blogs .description{
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;

}
.blog a {
    color: white;
    background-color: #81B622ff;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bolder;

}
.contacts a {
    color: #ECF87F ;
}
.contacts a:hover {
    transform: scale(1.2);
    color: #00ff0d;
    transition: all 0.5s ease;
}

.blog a:hover{
    background-color: #00ff0d;
    transition: all 1s ease;
}

#contact {
    background-color: #ECF87F ;;
    padding: 10px;

}

#contacth {
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
#contact p{
    text-align: center;
    margin: 0 auto;
    word-break: break-word;
    max-width: 600px;
    padding: 10px;
    font-size: larger;
}
.contz{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 5em;
    
}

.formy {
    background-color: #81B622;
    height: fit-content;
    width: 600px;
    padding: 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 1em;
    border-radius: 10px;
}
.formy form{
    padding: 30px;
}
.formy form Label h1{
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.formy form input{
    padding: 20px;
    display: block;
    width: 90%;
}
.formy form textarea{
    width: 98%;
    height: 100px;
}
.formy a {
    color: black;
    background-color: #ECF87F ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 10px;
    width: 90%;
    margin-left: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 10px;

}
.formy a:hover {
    background-color: #00ff0d;
}
#message{
    height: 100px;
}
.contacts{
    background-color: #81B622;
    height: 500px;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    box-sizing: content-box;
}

.contacts h1{
    display: block;
    padding: 30px;
    clear: both;
}

.contacts img{
    float: left;
}
.contacts a{
    padding: 20px;
    position: absolute;
    
}




#footer {
    background-color: #81B622 ;
    color: white;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    clear: both;
}
#ff {
    padding-bottom: 10px;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    clear: both;
}

#links{
    float: left;
    margin-right: 70%;
}
#links ul li a:hover{
    color: #00ff0d;
    transition: all 0.5s ease;
}
#footer h1 {
    font-style: normal;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

#footer ul li {
    list-style-type: none;
    padding: 10px;
}
#footer ul li a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
}


#socials ul li{
    display: inline-block;
}
#socials ul li a:hover {
    color: #00ff0d;
    transition: all 0.5s ease;
}
#socials ul li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
#footer p{
    clear: both;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

@keyframes scroller {
    from {
        transform: translateX(0);
    }
    5%{
        transform: translateX(-2.5%);
    }
    10% {
        transform: translateX(-5%);
    }
     15%{
        transform: translateX(-7.5%);
    }
    20% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateX(-12.5%);
    }
    30% {
        transform: translateX(-15%)
    }
     35%{
        transform: translateX(-17.5%);
    }
    40%{
        transform: translateX(-20%);
    }
    45%{
        transform: translateX(-22.5%);
    }
    50%{
        transform: translateX(-25%);
    }
    55% {
        transform: translateX(-27.5%);
    }
    60%{
        transform: translateX(-30%);
    }
    65% {
        transform: translateX(-35%);
    }
    to {
        transform: translateX(0);
    }
}

}

@media (max-width: 850px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
    #about h1{
        text-align: center;
    }
    #abtcontents {
        text-align: justify;
        padding-left: 2%;
    }

    #navs {
        display: none;
    }
    #header .min {
        display: block;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
    }
    #header .min:hover {
        transform: scale(1.3);
    }
    #header .min a .icon-close {
        visibility: hidden;
    }
    #header .min a {
        color: #00ff0d;
        top: 25%;
    }

    #abtcontents {
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
    }
    #about img{
        width: 70%;
        display: inline-block;
        align-self: center;
        border-radius: 50px/50px 10px;
        padding: 30px;
    }
    
    #timeline {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #hl {
        display: inline-block;
        position: absolute;

        left:1%;
        min-height: 125dvh;
        z-index: 1;
    }
    #timelineC {
        position: relative;
    }
    .conty .even{
        position: absolute;
        left: -115%;
    }
    .conty .odd {
        position: absolute;
        left: -25%;
    }

#home {
    background-size: cover;
}

}
